In [26]:
import json
from pandas.io.json import json_normalize
import pandas as pd
import numpy as np

In [3]:
#Q3
#You will notice that some entries have only the code and the name is missing. 
#Create a dataframe with the missing names filled in.

# load json as string
world_data = json.load((open('world_bank_projects.json')))

# use normalization to create tables from nested element
theme_project_data = json_normalize(world_data, 'mjtheme_namecode')
theme_project_data

     code                                          name
0       8                             Human development
1      11
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
7       6         Social protection and risk management
8       7                   Social dev/gender/inclusion
9       7                   Social dev/gender/inclusion
10      5                         Trade and integration
11      4      Financial and private sector development
12      6         Social protection and risk management
13      6
14      2                      Public sector governance
15      4      Financial and private sector development
16     11  Environment and natural resources management
17      8
18     10                             Rural development
19      7
20      2                      Public sector governance
21      2                      Public sector governance
22      2                      Public sector governance
23     10                             Rural development
24      2
25     10                             Rural development
26      6         Social protection and risk management
27      6         Social protection and risk management
28     11  Environment and natural resources management
29      4
...   ...                                           ...
1469    8                             Human development
1470    9                             Urban development
1471    6         Social protection and risk management
1472    6         Social protection and risk management
1473    9                             Urban development
1474    2                      Public sector governance
1475    2                      Public sector governance
1476   10                             Rural development
1477   11
1478    8                             Human development
1479    7                   Social dev/gender/inclusion
1480   11  Environment and natural resources management
1481    5
1482    6         Social protection and risk management
1483    8
1484    4      Financial and private sector development
1485    7                   Social dev/gender/inclusion
1486    8                             Human development
1487    5                         Trade and integration
1488    2                      Public sector governance
1489    8                             Human development
1490   10                             Rural development
1491    6
1492   10                             Rural development
1493   10                             Rural development
1494   10                             Rural development
1495    9                             Urban development
1496    8                             Human development
1497    5                         Trade and integration
1498    4      Financial and private sector development

[1499 rows x 2 columns]

In [29]:
# Removing duplicates 
theme_prj_data_no_dup = theme_project_data.drop_duplicates()
theme_prj_data_no_dup

    code                                          name
0      8                             Human development
1     11
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
8      7                   Social dev/gender/inclusion
11     4      Financial and private sector development
13     6
17     8
18    10                             Rural development
19     7
24     2
29     4
53     9                             Urban development
121   10
201    5
212    1
252    3                                   Rule of law
333    9
493    3

In [30]:
# Filling spaces as NaN
theme_prj_data_no_dup = theme_prj_data_no_dup[theme_prj_data_no_dup != '']
theme_prj_data_no_dup

    code                                          name
0      8                             Human development
1     11                                           NaN
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
8      7                   Social dev/gender/inclusion
11     4      Financial and private sector development
13     6                                           NaN
17     8                                           NaN
18    10                             Rural development
19     7                                           NaN
24     2                                           NaN
29     4                                           NaN
53     9                             Urban development
121   10                                           NaN
201    5                                           NaN
212    1                                           NaN
252    3                                   Rule of law
333    9                                           NaN
493    3                                           NaN

In [31]:
# Remove rows with NaN
clean_data = theme_prj_data_no_dup.dropna()
clean_data

    code                                          name
0      8                             Human development
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
6     11  Environment and natural resources management
8      7                   Social dev/gender/inclusion
11     4      Financial and private sector development
18    10                             Rural development
53     9                             Urban development
252    3                                   Rule of law

In [37]:
# We change 'code' to be an integer instead of a string so we can sort
clean_data1 = clean_data[['code']].astype(int)
clean_data2 = clean_data[['name']]

In [34]:
# Combine clean_data1 & clean_data2 using concat()
final_data = pd.concat([clean_data1, clean_data2], axis=1)
final_data

     code                                          name
0       8                             Human development
2       1                           Economic management
3       6         Social protection and risk management
4       5                         Trade and integration
5       2                      Public sector governance
6      11  Environment and natural resources management
8       7                   Social dev/gender/inclusion
11      4      Financial and private sector development
18     10                             Rural development
53      9                             Urban development
252     3                                   Rule of law

In [40]:
# Sort using sort_values() and reset the index
final_data = pd.concat([clean_data1, clean_data2], axis=1)
final_data = final_data.sort_values('code')
final_data = final_data.reset_index(drop=True)
final_data

    code                                          name
0      1                           Economic management
1      2                      Public sector governance
2      3                                   Rule of law
3      4      Financial and private sector development
4      5                         Trade and integration
5      6         Social protection and risk management
6      7                   Social dev/gender/inclusion
7      8                             Human development
8      9                             Urban development
9     10                             Rural development
10    11  Environment and natural resources management